html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

.top-nav {
  background-color: #ffffff;
  border-bottom: 1px rgb(158, 157, 157) solid;
  width: 100%;
  position: fixed;
  top: 0;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.top-nav .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.top-nav__menu {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}
.top-nav__menu li img {
  max-width: 5rem;
}

.top-nav__menu li {
  list-style: none;
  margin: 0 20px;
  font-size: 2rem;
}

.top-nav__menu > li:hover {
  color: rgb(64, 140, 240);
  cursor: pointer;
}
.top-nav__search {
  display: flex;
}

.top-nav__search input {
  padding: 0 1rem;
  height: 3.5rem;
  width: 22rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: 2px solid #2f80ed;
  flex-grow: 1;
}
.top-nav__search button {
  height: 3.5rem;
  width: 4rem;
  border: 0;
  background: linear-gradient(to right, #2f82ed 0%, #00afef 100%);
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}
